.mid-button-nav {
    margin-top: -150px;

}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #ffffff;
    color: #48c774;
}

.content .head-sec-title h1 {
    margin-top: 40px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: black;
}

.top-nav {
    background-color: whitesmoke;
}

.mid-title-text i {
    font-size: 100px;
    color: white
}

.mid-subtitle-text {

    font-size: 50px;
    background: #ffffff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-body .date-title p {
    padding-top: 20px;
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.site-footer {
    position: relative;
    padding: 40px 0 30px;
    background: url("../images/hero3.jpeg") no-repeat;
    background-size: cover;
}

.site-footer::before {
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    z-index: 3;
    background: hsla(0, 0%, 5%, 0.7);
    top: 0;
    left: 0;
}

.site-footer .footer-cover-title {
    min-height: 480px;
    width: 100%;
    color: white;
}

.site-footer .footer-cover-title h2 {
    font-size: 20vw;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
    text-align: center;
    color: white;
    mix-blend-mode: overlay;
    z-index: 2;
}

.footer-content-wrapper {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 4;
    top: 130px;
    left: 0;
    padding: 6px 0;
    text-align: center;
}

.footer-content-wrapper .flex {
    flex-direction: column;
}

.footer-content-wrapper .entry-title {
    text-align: center;
    margin-top: 25px;
}

.footer-content-wrapper .entry-title a {
    font-size: 52px;
    font-weight: 700;
    color: white;
    line-height: 1;
    text-decoration: none;
}

.footer-content-wrapper .entry-title h2 {
    padding-top: 10px;
    font-weight: 700;
    color: white;
}

@media screen and (min-width: 576px) {
    .footer-content-wrapper .entry-title a {
        font-size: 100px;
    }
}

.footer-content-wrapper .entry-mail {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.footer-content-wrapper .entry-mail a {
    text-decoration: none;
    color: white;
}

.footer-content-wrapper .iconic i {
    color: #ffffff;

}